:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f3f4f6;
}

body.dark {
  --bg: #0f172a;
  --text: #e2e8f0;
  --card: #1e293b;
}

/* dark mode */
body.dark .navbar {
  background: rgba(15, 23, 42, 0.7);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

#theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 80px;
}

/* PROJECTS */
.projects {
  max-width: 800px;
  margin: 80px auto;
}

.project-card {
  background: var(--card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

section {
  max-width: 850px;
  margin: 60px auto;
  padding: 0 20px;
  scroll-margin-top: 100px;
}

h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--text);
  display: inline-block;
  padding-bottom: 5px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 40px;

  backdrop-filter: saturate(180%) blur(100px);
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* LEFT (logo) */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.logo-icon {
  margin-right: 8px;
  font-size: 30px;
}

.logo-text {
  font-size: 30px;
  font-weight: 700;  /* bold */
  letter-spacing: 0.7px;
}

.logo:hover {
  opacity: 0.7;
}

/* CENTER (nav links) */
.center {
  display: flex;
  gap: 25px;
}

.center a {
  text-decoration: none;
  color: var(--text);
}

/* RIGHT (toggle) */
.right {
  display: flex;
  align-items: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* IMAGE */
.about-image img {
  width: 180px;
  border-radius: 50%;
}

/* TEXT */
.about-text {
  max-width: 600px;
}

.skills-subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 0.8;
}

/* GRID LAYOUT */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 13px;
}

/* CARD STYLE */
.skill-card {
  background: var(--card);
  padding: 17px;
  border-radius: 7px;
  transition: all 0.25s ease;
  cursor: default;
}

/* TITLE */
.skill-card h4 {
  margin-bottom: 7px;
}

/* HOVER EFFECT */
.skill-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* DARK MODE SHADOW */
body.dark .skill-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}